.to-do-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.text-input {
  width: 100vh;
    background: #ffffff;
  border: 0.5px solid #828282;
  border-radius: 5px;
  padding: 16px 24px;
  height: auto;
  text-overflow: clip;
  outline-color: #5ce695;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #828282;
}

.text-input::placeholder {
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
}

.radio-input {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
}

.radio-input::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 50%;
}

.radio-input:checked::before {
  border-color: #5CE695;
}

.radio-input:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #5CE695;
}

.radio-input.hidden {
  display: none;
}

.stike-text {
  text-decoration: line-through;
  color: #828282;
}