.card {
    display: block;
    padding: 16px;
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 16px;
}

.card-shadow {
    background: #FFFFFF;
    box-shadow: 0px 5px 35px 1px rgba(93, 124, 112, 0.15);
  }
  
.card-content {
    display: block;
    margin: 0 auto;
}
