.sidebar {
top: 0;
left: 0;  
height: 100vh;
background-color: #f2f2f2;
background: #f2f2f2;
}

.sidebar.open {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
  }
  .sidebar.close {
    display: none;
  }
/* desktop */
@media (min-width: 769px) {
  .sidebar {
    max-width: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sidebar .sidebar-header {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;  
}

  .sidebar .sidebar-header {
    visibility: visible;
    display: flex;
  }
}

.sidebar .sidebar-header {
  background-color: inherit;
  margin: 2.5rem;
  padding: 0.5;
  align-items: center;
  justify-content: space-between;
}

.sidebar .sidebar-header .icon {
  background: inherit;
  width: 32px;
  height: 32px;
}

.state-button-container {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto 2.75rem;
  gap: 32px;
  max-width: 100%;
}
