.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 100%; /* added */
}

.main-container {
  display: block;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-height: 100vh; */
  overflow-y: scroll;
  height: 100vh; /* added */
}

.main-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  /* max-height: 100vh; */
  grid-gap: 50px 50px;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  height: 100%; /* added */

}


.main-container.hidden {
  display: none;
  visibility: hidden;
}

.header-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  padding: 0 24px;
  margin-top: 24px;
  gap: 16px;
}

.header-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.add-timer-button {
  max-width: fit-content;
}

.add-timer-button.hide{
  visibility: hidden;
  display: none;
}

.h3-capitalize{
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .header-menu img {
    height: 32px;
    width: 32px;
  }
  
}

/* Media query for desktop devices */
@media (min-width: 769px) {
  .header-menu img {
    height: 32px;
    width: 32px;
    visibility: hidden;
    display: none;
  }

  .header-status h3 {
    visibility: hidden;
  }

  .main-container {
    margin-left: 20rem;
  }
}